/* Header CSS */
/* header component is fixed at the top of the page and components go behind it
upon scrolling */
.header {
  border: 2px solid darkgreen;

  height: 8vh;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: whitesmoke;
}
